<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LTP3 - Webservice</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .container *{
            margin: 40px 0px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>LTP3 - Webservice</h1>
        <a class="btn btn-lg btn-primary" href="/admin">ADMIN</a>
        <br/>
        <a class="btn btn-lg btn-danger" href="/api">API</a>
    </div>
</body>

</html>